.weather-img {
    max-width: 250px;
}

#outer-card-wrapper {
    margin: 25px;
}

.inner-card-wrapper {
    border-radius: 36px;
    max-width: 279px;
    max-height: 450px;
    text-align: center;
    float: left;
    margin: 10px;
    background-image: linear-gradient(45deg, #4f95ff , transparent);
    -webkit-box-shadow: 10px 10px 3px 2px rgba(0,0,0,0.77);
-moz-box-shadow: 10px 10px 3px 2px rgba(0,0,0,0.77);
box-shadow: 10px 10px 3px 2px rgba(0,0,0,0.77);

}

.country-name {
    margin-bottom: 5px;
    font-family: fantasy;
    font-size: 30px;

}

.weather-temp {
    font-size: 29px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.but-feels {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
}

.weather-description {
    font-size: 36px;
    margin-top: 14px;
}
